<% include ../partials/header.ejs %>

<!--Content --->

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 cole-md-6">
        <table class="table table-bordered table-stripped table-hover">
         <!-- Header Row-->
            <tr>
            <class class="center">First Name</class>
            <class class="center">Last Name</class>
            <class class="center"Age></class>
            
        </tr>
        <% for(let count =0;count< contactList.length; count++) { %>
            <tr>
                <td class="text-center"><%= contactList[count].firstName %></td>
                <td class="text-center"><%= contactList[count].lastName %></td>
                <td class="text-center"><%= contactList[count].age %></td>
            </tr>
        <%} %>
        </table>
    </div>
</div>  
</div>

  <% include ../partials/footer.ejs %>